@media print {
    body {
      visibility: hidden;
    }
    #labyrinth-preview {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  #labyrinth-preview > * {
    width: 100%;
  }
  #labyrinth-preview img {
    width: 100%;
  }
